.c-item{
    height: 480px;
}
.c-img{
    height: 100%;
}
.recyclerView {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 5px;
  }